$PRIMARY: #2231AA;
$PRIMARY2: #5360CD;
$SECONDARY: #313037;
$GREY: #8D8E97;
$MEDIUM: #DADADA;
$EXTRA_LIGHT: #F3F3F3;
$ERROR: #FD3419;
$WHITE: #FFFFFF;
$LIGHT: #E8E8E8;

$INPUT_PLACEHOLDER: rgba(255, 255, 255, 0.50);





