* {
  margin:0;
  padding:0;
}
.App {}

.btn-custom{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.container + .container {
  margin-top: 72px;
}